.main-page{
    max-width: 1440px; 
    max-height: 1024px;
    width: 100%;
    height: 100%;
}
.sub-page{
    display: inline-block; 
    *display: inline; 
    zoom: 1; 
    vertical-align: top;
}
.left-page{
    width: 50%; 
    
}
.right-page{
    width: 50%;
     
}