html, body {
    height: 100%;
  }
.main-page{
    max-width: 1440px; 
    max-height: 1024px;
    width: 100%;
    height:100%;
    display: flex;
    
}
.sub-page{
    display: inline-block; 
    *display: inline; 
    zoom: 1; 
    vertical-align: top;
}
.sub-sub-page{
    display: flex;
    justify-content: center;
}
.left-page{
    width: 50%; 
    height:100%;
}
.right-page{
    width: 50%;
    height:100%;
}

.DisplayButton{
    width: 40%;
    height: 100%;
    border-width: 5px;
    cursor: pointer;
    border: 3px solid;
    background-color: #fafafa;
    font-size: 30px;
    
}
.leftButton{
    border-radius: 15px 0px 0px 15px;
    border-color:  rgba(1, 130, 186, 0.685);
    
}
.leftButton:hover{
    background-color: rgba(1, 131, 186, 0.18);
}

.rightButton{
    border-radius: 0px 15px 15px 0px;
    border-color: rgba(255, 157, 136, 0.7);
    
}
.rightButton:hover{
    background-color: rgba(255, 157, 136, 0.18);
}
